name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number (optional)'
        required: false

permissions:
  contents: write

jobs:
  create-release:
    uses: SchoutenEnZn/org-workflows/.github/workflows/create-release.yml@main
    with:
      changelog_path: CHANGELOG.md
      version: ${{ github.event.inputs.version }}
    secrets: inherit
